.HomeUl {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.HomeIl {
  color: #fff;
  padding-top: 5px;
  padding-right: 10px;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-size: 20px;
  padding-left: 10px;
}
.LinkStuled {
  text-decoration: none;
}
